.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.survey-main-btn {
  background-color: #b6593a;
  width: 150px;
  margin: 15px;
  border: none;
}

.App .Question {
    margin: 20px;
    width: 400px;
}

.App .Question .option-text {
  font-size: 15px;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 5px;
}

